<div
    id="videoProductContainer"
    style="background-color: red;
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 1;
    transition-property: all;
    transition-duration: 0.5s;">
    {{ include('BeitechBundle:left_videoProduct:videoProductForm.html.twig') }}
</div>