<div
    id="lyricsProductContainer"
    style="background-color: yellow;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 2;
    opacity: 0.5;
    transition-property: all;
    transition-duration: 0.5s;
    overflow: hidden;">
    {{ include('BeitechBundle:left_lyricsProduct:lyricsProductForm.html.twig') }}
</div>