<div 
    id = "reviewProductContainer"
    style="background-color: white;
    position: absolute;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 3;
    {#    opacity: 0.5;#}
    transition-property: all;
    transition-duration: 0.5s;
    overflow: hidden;
    display: inline-block;">
    {{ include('BeitechBundle:left_reviewProduct:reviewProductForm.html.twig') }}
</div>